<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.noobzz.gen.mapper.IDataSourceMapper">

    <resultMap type="DataSource" id="DatasourceResult">
        <result property="datasourceId"    column="datasource_id"    />
        <result property="connectionName"    column="connection_name"    />
        <result property="url"    column="url"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="dataBaseType"    column="data_base_type"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectDatasourceVo">
        select datasource_id, connection_name, url, username, password, data_base_type, create_time, update_time, status from gen_datasource
    </sql>

    <select id="selectDatasourceList" parameterType="Datasource" resultMap="DatasourceResult">
        <include refid="selectDatasourceVo"/>
        <where>
            <if test="connectionName != null  and connectionName != ''"> and connection_name like concat('%', #{connectionName}, '%')</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="dataBaseType != null  and dataBaseType != ''"> and data_base_type = #{dataBaseType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectDatasourceByDatasourceId" parameterType="String" resultMap="DatasourceResult">
        <include refid="selectDatasourceVo"/>
        where datasource_id = #{datasourceId}
    </select>

    <insert id="insertDatasource" parameterType="Datasource" useGeneratedKeys="true" keyProperty="datasourceId">
        insert into gen_datasource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="connectionName != null">connection_name,</if>
            <if test="url != null">url,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="dataBaseType != null">data_base_type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null and status != ''">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="connectionName != null">#{connectionName},</if>
            <if test="url != null">#{url},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="dataBaseType != null">#{dataBaseType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null and status != ''">#{status},</if>
        </trim>
    </insert>

    <update id="updateDatasource" parameterType="Datasource">
        update gen_datasource
        <trim prefix="SET" suffixOverrides=",">
            <if test="connectionName != null">connection_name = #{connectionName},</if>
            <if test="url != null">url = #{url},</if>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="dataBaseType != null">data_base_type = #{dataBaseType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </trim>
        where datasource_id = #{datasourceId}
    </update>

    <delete id="deleteDatasourceByDatasourceId" parameterType="String">
        delete from gen_datasource where datasource_id = #{datasourceId}
    </delete>

    <delete id="deleteDatasourceByDatasourceIds" parameterType="String">
        delete from gen_datasource where datasource_id in
        <foreach item="datasourceId" collection="array" open="(" separator="," close=")">
            #{datasourceId}
        </foreach>
    </delete>
</mapper>